<!DOCTYPE html>
<html>
<body>
<h1>Make your form here</h1>

<h1>Create your Pirate!</h1>
<form method='POST' action='/pirates'> <br/>
<label>Pirate name:</label>
<input type="text" name='pirate[name]'><br/><br/>
<label>Pirate weight:</label>
<input type="text" name='pirate[weight]'><br/><br/>
<label>Pirate height:</label>
<input type="text" name='pirate[height]'><br/><br/>


<h1>First Ship</h1>

<label for="ship_name_1">Ships name:</label>
<input type="text" id="ship_name_1" name="pirate[ships][][name]"><br/><br/>
<label for=ship_type_1>Ships type:</label>
<input type="text" id="ship_type_1" name="pirate[ships][][type]"><br/><br/>
<label for="ship_booty_1">Ships Booty:</label>
<input type="text" id="ship_booty_1" name="pirate[ships][][booty]"><br/><br/>


<h1>Second Ship</h1>

<label for='ship_name_2'>Ships name:</label>
<input type="text" id="ship_name_2" name="pirate[ships][][name]"><br/><br/>
<label for='ship_type_2'>Ships type:</label>
<input type="text" id='ship_type_2' name="pirate[ships][][type]"><br/><br/>
<label for='ship_booty_2'>Ships Booty:</label>
<input type="text" id='ship_booty_2' name="pirate[ships][][booty]"><br/><br/>
<input type="submit" value="Submit">

</form>
</body>
</html>